body{
  font-family: poppins;
}
#cart{
  color: black;
}
#cart:hover{
  color: green;
}
#home_image{
  margin-top:-162px;
}
#hero_p{
  margin-top: 2rem;
  font-size: 15px;
}
#hero_a{
  font-size: 14px;
  padding: 15px;
  background-color: #155029;
}
#hero_left{
  margin-left: 3rem;
}
#search{
  margin-top: -229px;
}
.footer-p{
    font-size: 14px;
    line-height: 1rem;
}
.footer-p1{
    font-size: 14px;
    line-height: 0.55rem;
}
.plans{
    border: 1px solid #919791;
    border-radius: 0.85rem;
    margin-right: 2rem;
    margin-top: 3rem;
    width: 24%;
}
#plans{
  margin-top: 7rem;
}
#plans h2{
  color: #45503D;
  font-size: 36px;
}
#plans p{
  margin-top: 2rem;
  font-size: 14px;
}
.nav-link{
    color: black;
}
.nav-link.active {
    color: green;
}
#sign-in:hover{
  background-color: green;
}
nav{
    margin-top: -25px;
}
h1{
    font-size: 56px;
    color: #45503D;
} 
.green{
    background-color:#1c4d23;
    padding-left:15px;
    padding-right: 15px;
}
.search-now{
  background-color: #104120;
  color: white;
  padding: 12px;
}
.domain{
  width: 20%;
  margin-top: 3rem;
}
#search h2{
  font-size: 36px;
}
#search p{
  font-size: 14px;
  margin-top: 2rem;
}
#search input,#search a{
  margin-top: 2rem;
}

#search {
    background: linear-gradient(to bottom, #4DA60D,  #155029); 
    padding: 30px;
    border-radius: 10px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-box {
    width: 85%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 10px; 
  }
  
  .btn-success1 {
    padding: 10px 20px;
    white-space: nowrap; 
  }
  .price-span{
    color: black;
  }
  .plans{
    background-color: #f0f8ff;
  }
  .plans ul {
    list-style-position: inside; 
    text-align: center; 
  }
  
  .plans ul li {
    text-align: left;     
  }
  .start_now{
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #155029;
    color: white;
    font-size: 14px;
  }
  .plans h6{
    margin-top: 25px;
  }
  .plans:hover {
    background-color: #155029;
    color: white !important;
}

.plans:hover h6,
.plans:hover p,
.plans:hover li,
.plans:hover span,
.plans:hover a {
    color: white !important;
}

.plans:hover a.btn {
    background-color: white !important;
    color: #006400 !important; 
}
.plan_p{
    font-size: 30px !important;
}
#plan_des{
  font-size: 14px;
}
.plans hr{
  margin-top: 2rem;
}
.plans li{
  line-height: 2rem;
}
#contact a{
  text-decoration: none;
}
#contact h2{
  font-size: 46px;
  color:#45503D;
}
#contact p{
  font-size: 14px;
  margin-top: 2rem;
}
#contact a{
  margin-top: 2rem;
  padding: 15px;
  font-size: 14px;
  background-color: #155029;
  color: white;
}
#assist{
  margin-left: 6rem;
}
#assist-p{
  margin-top: 1rem !important;
}
.contact-p{
  font-size: 16px;
  color: #4DA60D;
}
#contact {
  margin-top: 8rem;
}
#solutions{
  margin-top: 8rem;
  background-color: #f0f8ff;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
#solutions h2{
  color: #45503D;
  font-size: 36px;
}
#solutions p{
  margin-top: 2rem;
  font-size: 14px;
}
#solutions a{
  padding: 10px;
  font-size: 14px;
}
#faq{
  margin-top: 7rem;
  padding-top: 5rem;
  padding-bottom: 7rem;
}
#faq h2{
  color: #45503D;
  font-size: 36px;
}
#faq p{
  font-size: 14px;
  margin-top: 2rem;
}
.accordion{
  margin-top: 3rem;
}
.accordion-item {
  margin-bottom: -30px; 
}

.accordion-button {
  padding: 10px; 
}
.accordion-button{
  color: #45503D;
}
.accordion-button:not(.collapsed) {
  color: #45503D;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}
#solutions img{
  width: 92%;
  height: 100%;
}
.plans-heading{
  margin-left: 6rem;
}
.contact-left{
  margin-left: 6rem;
}
.footer-left{
  margin-left: 6rem;
}
/* Main nav link hover effect */
.nav-link {
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #155029;
  color: white;
}

/* Style the submenu container */
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* Position below the parent item */
  left: 0px !important;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0px;
  z-index: 10;
  width: 650px;; /* Fixed width for all submenu boxes */
  height: 300px; /* Fixed height for all submenu boxes */
  border-radius: 8px;
  overflow: hidden;  
}
.westside{
  margin-left: -6em;
}
.westside1{
  margin-left: -11em;
}
.westside2{
  margin-left: -16em;
}
.westside3{
  margin-left: -21em;
}
.westside4{
  margin-left: -26em;
}
.westside5{
  margin-left: -35em;
}

/* Submenu heading style */
.submenu-heading {
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  border: 1px solid #e0e0e0;
  padding-bottom: 5px;
  border-radius: 0.85rem;
  background-color: #155029
}


/* Submenu list */
.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu ul li {
  margin-bottom: 5px;
  padding-left: 15px;
}

.submenu ul li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.submenu ul li a:hover {
  color: #1c4d23;
}

/* Show submenu on hover */
.nav-item:hover .submenu {
  display: block;
}
.tagline{
  font-size: 12px;
  line-height: 10px;
}
.tag-heading{
  font-size: small;
}
.signin-button{
  background: linear-gradient(#155029,#4DA60D);
  width: 100%;
  border: 0;
  color: white;
  padding: 5px;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width:576px){
  .navbar-brand img{
    width: 50%;
    height: 50%;
  }
  #hero_left{
    margin-left: 0rem;
    text-align: center;
  }
  h1{
    font-size: 36px;
  }
  #home_image{
    margin-top:0px;
    width: 95%;
    height: 95%;
  }
  .domain{
    width: 42%;
  }
  .search-container a{
    font-size: 11px;
    width: 35%;
  }
  .search-container input{
    font-size: 11px;
  }
  #search h2{
    margin-top: 8rem;
  }
  #solutions img{
    width: 75%;
    height: 100%;
    margin-left: 2rem;
  }
  #solutions h2{
    font-size: 26px;
    text-align: center;
    margin-top: 1rem;
  }
  #plans h2{
    font-size: 26px;
    text-align: center;
  }
  #plans p{
    text-align: center;
  }
  .plans{
    width: 75%;
  }
  #faq h2{
    font-size: 26px;
    text-align: center;
  }
  #faq p{
    text-align: center;
  }
  #contact h2{
    font-size: 26px;
  } 
  .large-footer{
    display: none;
  } 
  .plans-heading{
    margin-left: 0rem;
  }
  .contact-left{
    margin-left: 0rem;
  }
}
@media screen and (min-width:577px){
  .large-footer{
    display: none;
  }
  h1{
    font-size:36px;
  }
  #hero_left{
    margin-left: 0rem;
    text-align: center;
  }  
  #home_image{
    margin-top:0px;
    width: 95%;
    height: 95%;
  }
  #search{
    margin-top: -153px;
  }
  .search-now{
    padding:0px;
  }
  .domain{
    width:40%;
  }
  #solutions img {
    width: 86%;
    height: 91%;
  }
  #solutions h2{
    text-align: center;
    font-size: 30px;
  }
  .solutions-div h4,.solutions-div p{
    text-align: center;
  }
  .plans-heading{
    margin-left:0px;
  }
  .plans-heading h2, .plans-heading p{
    text-align: center;
  }
  .plans{
    width: 65%;
  }
  .contact-left{
    margin-left: 0px;
  }
  #contact h2{
    font-size: 36px;
    text-align: center;
  }
  #contact p{
    text-align: center;
  }
  #contact a{
    margin-left: 13rem;
  }
}
@media screen and (min-width:768px) and (max-width:991px)
{
  .mobile-footer{
    display: none;
  }
  #home_image{
    width: 110%;
    height: 93%;
    margin-top: -25px;
    margin-left: 126px;
    }
  
  h1{
    font-size: 42px;
  }
  #hero_p{
    font-size: 14px;
  }
  #search{
    margin-top: -157px;
  }
  #solutions img {
    width: 62%;
    height: 85%;
    margin-left: 7rem;
  }
  #solutions h2{
    font-size: 34px;
  }
  .plans{
    width: 50%;
  }
  #contact h2{
    font-size: 30px;
    text-align: left;
  }
  #contact p{
    text-align: left;
  }
  #contact a{
    margin-left: 0px;
  }
  .footer-div{
    margin-left: 16%;
  }

}
@media screen and (min-width:992px)
{

}
@media screen and (min-width:1200px)
{
h1{
  font-size: 46px;
}
#home_image {
  margin-top: -96px;
  width: 101%;
  height: 120%;
}
.search-now{
  padding: 12px;
}
.domain h2{
  font-size: 36px;
}
.domain p{
  font-size: 23;
}
#solutions h2{
  font-size: 36px;
}
#solutions p{
  font-size: 18px;
}
#break-line{
  display: none;
}
.plans{
  width: 30%;
}
#plans h2{
  font-size: 40px;
}
#plans p{
  font-size:17px
}
#assist h6{
  font-size: 25px;
}
#contact p{
  text-align: left;
  font-size: 17px;
}
#contact a{
  margin-left: 0px;
}
#contact h2{
  text-align: left;
}
.mob-footer{
  display: none;
}
.large-footer{
  display: block;
}
.domain{
  width: 25%;
}

}
@media screen and (min-width:1400px)
{
  
}


  